// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Navigation path variables
:root {
  --md-path-icon: svg-load("material/chevron-right.svg");
}

// ----------------------------------------------------------------------------

// Navigation path (breadcrumbs)
.md-path {
  padding-top: px2rem(24px);
  margin: 0 px2rem(16px);
  overflow: auto;
  font-size: px2rem(14px);

  // Navigation path is not hidden
  &:not([hidden]) {
    display: block;
  }

  // [screen +]: Adjust spacing between content area and sidebars
  @include break-from-device(screen) {
    margin: 0 px2rem(24px);
  }

  // Navigation path list
  &__list {
    display: flex;
    gap: px2rem(4px);
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // Navigation path item
  &__item:not(:first-child) {
    display: inline-flex;
    gap: px2rem(4px);
    white-space: nowrap;

    // Path separator
    &::before {
      display: inline;
      width: px2rem(16px);
      height: px2rem(16px);
      content: "";
      background-color: var(--md-default-fg-color--lighter);
      mask-image: var(--md-path-icon);
    }
  }

  // Navigaion path link
  &__link {
    display: flex;
    align-items: center;
    color: var(--md-default-fg-color--light);

    // Navigation path link on focus/hover
    &:is(:focus, :hover) {
      color: var(--md-accent-fg-color);
    }
  }
}
